h5 {
    font-weight: 600;
}

h5 span {
    font-weight: 600;
}

/* @media (max-width:768px) {
    .quote-div {
        display: none;
    }

    .form-div {
        width: 100%;
        height: 100%;
    }
} */